@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hrAnimation {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@keyframes rotate1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.refresh1 {
  animation-name: rotate1;
  animation-duration: 2s;
}

.refresh2 {
  animation-name: rotate2;
  animation-duration: 2s;
}

.author, .download{
  grid-column: 1;
  grid-row: 1;
}

.refreshDownlowd {
  left: 41%; right: 41%;
}

.refreshDownlowdSm {
  left: 41%; right: 30%;
}

.hrAnimation {
  border-width: 1px;
  width: 30%;
  opacity: .75;
  background-color: #22c55e;
  border-color: #22c55e;
  border-radius: 50px;
  margin: 20px 0;
  animation-name: hrAnimation;
  animation-duration: 1s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
